html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
body{font-family:'Roboto', sans-serif;font-size:13.5px;min-width:320px;}
.clear{clear:both;}
strong{font-weight:bold;}
.hidden{display:none;}
.mauchudao{color:#ed3241 !important;}
.bg-mauchudao{background:#ed3241 !important;}
.mg-bot5{margin-bottom:5px;}
.mg-bot10{margin-bottom:10px;}
.mg-bot15{margin-bottom:15px;}
.mg-bot20{margin-bottom:20px;}
.mg-bot25{margin-bottom:25px;}
.mg-bot30{margin-bottom:30px;}
.mg-bot35{margin-bottom:35px;}
.pad15{padding:15px;}
.pad10{padding:10px;}
.f-left{float:left;}
.f-right{float:right;}
.pos-relative{position:relative;}
a{color:#333;}
a:hover{text-decoration:none;}
#header #top{background:#333;height:50px;color:#fff;line-height:50px;}
.nav-top{float:right;height:50px;}
.nav-top>li{float:left;margin-right:15px;}
.nav-top>li:last-child{margin-right:0px;}
.nav-top>li>a{color:#fff;}
.nav-top li{position:relative;}
.nav-top li a{padding:10px;line-height:20px;display:inline-block;font-size:15px;}
.nav-top li a:hover{color:#fc7700;background:transparent;}
.nav-top .sub-menu{display:none;position:absolute;top:0;left:100%;background:#333;z-index:999;width:200px;}
.nav-top li:hover>.sub-menu{display:block;}
.nav-top>li>.sub-menu{top:50px;left:0;}
.nav-top>li>.sub-menu a{color:#fff;padding-left:20px;font-size:14px !important;width:200px;}
.nav-top>li>.sub-menu li a:hover{color:#fc7700 !important;background:#505050;}
.area-info{margin-top:20px;}
#header #bot{height:70px;}
.area-info .obj{padding-left:20px;padding-right:20px;border-right:1px solid #cfcfcf;}
.area-info.phone-support{padding-left:20px;padding-right:0px;cursor:pointer;}
.area-info .obj img{vertical-align:middle;}
.phone-support .dropdown-menu{min-width:320px !important;left:initial !important;right:0px !important;}
.phone-support ul.dropdown-menu li{padding:10px 10px 5px 15px!important;}
.city-name{font-size:14px !important;font-weight:bold;}
.phone-support .dropdown-menu table tbody tr td{color:#333;font-size:13px;text-transform:capitalize;}
.phone-support li{color:#fff;height:100%;display:inline-block;font-size:18px;line-height:normal;padding:0 10px 0 40px;position:relative;text-align:left;width:100%;}
#bot .dropdown-menu{top:120% !important;}
#slideshow img.img-ss{background-position:center bottom;background-repeat:no-repeat;background-size:cover;width:100%;}
.bg-black{width:100%;height:100%;position:fixed;top:0px;left:0px;background:rgba(0,0,0,0.8);z-index:99;}
#form-search{background:#f1f1f1;height:100px;}
#form-search .o-dl{background:#fff;padding:15px;width:150px;height:160px;margin:0px auto;display:inline-table;text-align:center;border:1px solid #ececec;cursor:pointer;float:left;margin-right:30px;}
#form-search .o-dl:last-child{margin-right:0px;}
#form-search .text-dltn{color:#015196;}
#form-search .text-dlnn{color:#f0433a;}
#form-search .text-dltc{color:#f2a30f;}
#form-search .text-dltt{color:#008c72;}
#form-search .text1{text-transform:uppercase;border-bottom:1px dashed #4e4b4a;padding-bottom:10px;color:#000;margin-bottom:10px;}
#form-search .text2{font-weight:bold;text-transform:uppercase;}
#form-search .frame-search{margin:0px auto;display:table;margin-top:-100px;}
#form-search .dltn:hover{border:1px solid #015196;}
#form-search .dlnn:hover{border:1px solid #f0433a;}
#form-search .dltc:hover{border:1px solid #f2a30f;}
#form-search .tttc:hover{border:1px solid #008c72;}
#form-search .form-info-search{margin-top:15px;color:#fff;}
#form-search .form-control{border-radius:0px !important;border:none !important;border-bottom:1px dashed #000 !important;box-shadow:initial !important;padding:0px !important;}
#form-search .i-calendar{position:absolute;right:10px;top:10px;color:#333;}
#form-search .btn-mg-t{margin-top:20px;}
#form-search .btn{border-radius:0px !important;}
#form-search .mg-b{margin-bottom:8px;}
#form-search .frame-search .mg-b{margin-bottom:20px;}
#form-search .bg-dltn{background:#fff;border-bottom:3px solid #015196;}
#form-search .bg-dltn label{color:#015196;font-weight:bold;text-transform:uppercase;}
#form-search .bg-dltn i{color:#015196;}
#form-search .bg-dltn .btn-search{color:#fff;background-color:#015196;border-color:#015196;text-transform:uppercase;}
#form-search .bg-dltn .btn-search i{color:#fff;}
#form-search .bg-dltn .triangle-up{width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:10px solid #fff;position:absolute;top:-10px;left:36%;}
#form-search .bg-dlnn{background:#fff;border-bottom:3px solid #f0433a;}
#form-search .bg-dlnn label{color:#f0433a;font-weight:bold;text-transform:uppercase;}
#form-search .bg-dlnn i{color:#f0433a;}
#form-search .bg-dlnn .triangle-up{width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:10px solid #fff;position:absolute;top:-10px;left:50%;}
#form-search .bg-dlnn .btn-search{color:#fff;background-color:#f0433a;border-color:#f0433a;text-transform:uppercase;}
#form-search .bg-dlnn .btn-search i{color:#fff;}
#form-search .bg-dltc{background:#fff;border-bottom:3px solid #f2a30f;}
#form-search .bg-dltc label{color:#f2a30f;font-weight:bold;text-transform:uppercase;}
#form-search .bg-dltc i{color:#f2a30f;}
#form-search .bg-dltc .triangle-up{width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:10px solid #fff;position:absolute;top:-10px;left:63%;}
#form-search .bg-dltc .btn-search{color:#fff;background-color:#f2a30f;border-color:#f2a30f;text-transform:uppercase;}
#form-search .bg-dltc .btn-search i{color:#fff;}
#form-search .bg-dltt{background:#fff;border-bottom:3px solid #008c72;}
#form-search .bg-dltt label{color:#008c72;font-weight:bold;text-transform:uppercase;}
#form-search .bg-dltt i{color:#008c72;}
#form-search .bg-dltt .btn-search{color:#fff;background-color:#008c72;border-color:#008c72;text-transform:uppercase;}
#form-search .bg-dltt .btn-search i{color:#fff;}
#form-search .bg-dltt .triangle-up{width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:10px solid #fff;position:absolute;top:-10px;left:63%;}
.frame-dltt{padding-top:30px;padding-bottom:30px;margin:0px auto;display:table;}
#form-search .pad-tb{padding-top:30px;padding-bottom:30px;}
#tour-type{height:90px;border-bottom:1px solid #f1f1f1;padding-bottom:12px;padding-top:12px;}
#tour-type .carousel-control.left{background-image:none!important;background-repeat:no-repeat!important;position:absolute;left:-20px;top:5px;width:50px;}
#tour-type .carousel-control.right{background-image:none!important;background-repeat:no-repeat!important;position:absolute;right:-20px;top:5px;width:50px;}
#tour-type .frame-tourtype{margin:0px auto;display:flex;height:90px;justify-content:center;align-items:center;}
#tour-type .frame-tourtype .tourtype-img{margin-right:15px;}
#tour-type .frame-tourtype .tourtype-txt{color:#333;font-size:16px;font-weight:bold;}
#tour-type img.chevron-right,#tour-type img.chevron-left{opacity:0.3;}
#tour-type .item-tour-type{text-align:center;}
#tour-type .item-tour-type .tourtype-name{padding-top:10px;font-weight:bold;}
a:hover{color:#ed3241;}
#tour-type .img-responsive{margin:0 auto;}
.frame-tour{margin-top:15px;}
h2.home-title{margin:20px 0px 30px 0px;}
h2.home-title a{font-size:26px;text-transform:uppercase;font-weight:bold;text-align:center;}
h2.home-title a:hover{color:#333;}
#tourgiochot div.crop{height:226px;width:100%;overflow:hidden;}
#tourgiochot div.crop img{margin:-50px 0;}
#tourgiochot .info-tourgiochot{background:#f7f7f7;padding:25px;color:#333;height:226px;}
#tourgiochot .frame-tourgiochot.trai.col-lg-6{padding-left:0px !important;text-align:left;}
#tourgiochot .tourgiochot-img.trai.col-lg-6{padding-right:0px !important;}
#tourgiochot .frame-tourgiochot.phai.col-lg-6{padding-right:0px !important;text-align:left;}
#tourgiochot .tourgiochot-img.phai.col-lg-6{padding-left:0px !important;}
#tourgiochot .frame-tourgiochot .tourgiochot-title{margin-bottom:20px;line-height:22px;}
#tourgiochot .frame-tourgiochot .tourgiochot-title a{font-size:19px;font-weight:bold;}
#tourgiochot .frame-tourgiochot .tourgiochot-title a:hover{color:#333;}
#tourgiochot .frame-tourgiochot .info-tourgiochot{color:#000;}
#tourgiochot .frame-tourgiochot .info-tourgiochot .giacu{text-decoration:line-through;font-size:17px;margin-right:20px;}
#tourgiochot .frame-tourgiochot .info-tourgiochot .giamoi{font-size:19px;font-weight:bold;color:#e82c0c;}
#tourgiochot .frame-tourgiochot .info-tourgiochot .giochot{padding:11px;color:#fff;width:200px;}
#tourgiochot .frame-tourgiochot .info-tourgiochot .mg-b-gia{margin-bottom:20px;}
.home-cattentourgiochot{height:25px;width:100%;}
#tourgiasoc{}
#tourgiasoc img.tgs-img{width:100%;height:222px;}
.home-cattentourgiasoc{height:16px;width:100%;}
#tourgiasoc .frame-tourgiasoc{background:#f7f7f7;height:auto;}
#tourgiasoc .frame-tourgiasoc .div-title{border-bottom:1px dashed #ccc;padding:10px;font-weight:bold;}
#tourgiasoc .frame-tourgiasoc .div-info{padding:10px;color:#000;}
#tourgiasoc .frame-tourgiasoc .div-info .giacu{text-decoration:line-through;font-size:14px;margin-right:10px;}
#tourgiasoc .frame-tourgiasoc .div-info .giamoi{font-size:14px;font-weight:bold;color:#e82c0c;}
#diemden .frame-diemden{position:absolute;bottom:0px;background:#ccc;padding:50px 10px 20px 10px;background:linear-gradient(to bottom,rgba(0,0,0,.01),#000);width:100%;color:#fff;text-align:center;}
#diemden .frame-diemden .diemden-ten{margin:0px auto;display:table;text-transform:uppercase;font-weight:bold;padding-bottom:10px;border-bottom:1px dashed #fff;margin-bottom:10px;width:130px;}
#diemden .frame-diemden .diemden-like{font-size:12px;}
#diemden .frame-diemden .k{font-size:10px;}
#diemden img.dd-img{width:100%;height:333px;}
#diemden .quocgia .col-lg-2,#diemden .quocgia .col-lg-4{width:20% !important;}
#diemden .frame-quocgia{position:absolute;bottom:0px;background:#ccc;padding:30px 10px 10px 10px;background:linear-gradient(to bottom,rgba(0,0,0,.01),#000);width:100%;color:#fff;text-align:left;}
#diemden .frame-quocgia .quocgia-ten{text-transform:uppercase;margin-bottom:5px;}
#diemden .frame-quocgia .quocgia-khampha{font-size:13px;padding-left:20px;margin-right:10px;}
#diemden img.qg-img{width:100%;height:154px;}
#dulichtuchon img.tc-img{width:100%;height:420px;}
#dulichtuchon .frame-tuchon{position:absolute;bottom:0px;background:rgba(0,0,0,0.6);width:100%;height:100%;}
#dulichtuchon .frame-tuchon-c .pos-info{position:absolute;bottom:100px;left:50px;color:#fff;}
#dulichtuchon .frame-tuchon-c .tuchon-ten{text-transform:uppercase;font-weight:bold;font-size:20px;margin-bottom:5px;}
#dulichtuchon .frame-tuchon-c .tuchon-ten span.bb{font-size:26px;}
#dulichtuchon .frame-tuchon-c .tuchon-noi{font-size:18px;border-top:1px dashed #fff;border-bottom:1px dashed #fff;padding-bottom:10px;padding-top:10px;max-width:420px;}
#dulichtuchon .frame-tuchon-p .pos-info{position:absolute;bottom:50px;left:20px;color:#fff;}
#dulichtuchon .frame-tuchon-p .tuchon-ten{text-transform:uppercase;font-weight:bold;font-size:14px;margin-bottom:10px;}
#dulichtuchon .frame-tuchon-p .tuchon-noi{font-size:14px;border-top:1px dashed #fff;border-bottom:1px dashed #fff;padding-bottom:10px;padding-top:10px;max-width:250px;}
#dulichtuchon img.tcp-img{width:100%;height:195px;}
.home-cattentuchon{height:40px;width:100%;}
#dulichtuchon .frame-tuchon-p .tuchon-ten span.bb{font-size:18px;}
#visao .bg-visao{background-image:url(../images/visao.jpg);background-attachment:fixed;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-position:center;color:#ffffff;height:260px;}
#visao .bg-visao .oso{padding:10px 13px;color:#333;font-weight:bold;border-radius:20px;width:35px;font-size:15px;margin-right:15px;background:#fff !important;}
#visao .bg-visao .form-visao .txt1{text-transform:uppercase;font-weight:bold;font-size:16px;border-bottom:1px dashed #ed3241;padding-bottom:5px;margin-bottom:10px;color:#ed3241 !important;}
#visao .bg-visao .form-visao .txt2{margin-bottom:5px;font-size:12.5px;}
#visao .bg-visao .form-visao .txt3{font-size:12.5px;}
#visao .bg-visao{padding:50px 0px 50px 0px;}
#khachhang{padding-top:30px;padding-bottom:30px;}
#khachhang .o-left{border-right:1px solid #e1e1e1;display:table;height:150px;overflow:hidden;}
#khachhang .o-left .txt-mid{display:table-cell;vertical-align:middle;}
#khachhang .o-left .txt1{text-transform:uppercase;font-size:25px;font-weight:bold;}
#khachhang .o-phai{padding-left:40px;}
#khachhang .o-phai .bor{border-bottom:1px dotted #ccc;padding-bottom:10px;margin-bottom:10px;}
#khachhang .o-phai .bor .txt1{text-transform:uppercase;font-weight:bold;font-size:16px;}
#khachhang .o-phai .bor .mg-r{margin-right:5px;}
.home-catnoidungbinhluan{height:70px;width:100%;}
.home-cattieudebinhluan{height:22px;width:100%;padding-top:5px;}
#khachhang .o-phai .noidung{text-align:justify;line-height:20px;}
#khachhang .o-phai .carousel-indicators{bottom:-20px !important;padding-left:35px !important;left:26% !important;text-align:left !important;}
#khachhang .o-phai .carousel-indicators .active{background-color:#ed3241 !important;width:13px !important;height:13px !important;}
#khachhang .o-phai .carousel-indicators li{border:1px solid #ed3241 !important;}
#footer{background:#f3f3f3;height:auto;padding-top:40px;color:#000;font-weight:500;}
#footer .item-title{text-transform:uppercase;font-weight:bold;}
#footer .address{line-height:16px;}
#footer .mg-bot8{margin-bottom:8px;}
#footer .mg-left{margin-left:5px;}
#footer ul.list-chinhsach li a{margin:10px 0 10px 0 !important;display:block;list-style:none;background:url(../img/circle.png) no-repeat left center;padding-left:20px;}
#footer .bor{border-bottom:1px dotted #ccc;padding-bottom:10px;margin-bottom:20px;margin-top:12px;}
#footer .newsletter .form-control, #footer .search-info .form-control{border-radius:0px !important;height:38px;}
#footer .btn-f{position:absolute;top:0;right:0;}
#footer .btn-f .bg-btn{background:#595959;padding:10px;height:38px;}
#footer ul.list-nuoc li a{margin:8px 0 8px 0!important;display:block;}
#footer ul.list-nuoc li a:hover{color:#ed3241;}
#home-info{padding-top:20px;}
#home-info p{font-weight:bold;margin-bottom:10px;font-size:12px;}
.carousel-control{width:4%;font-size: 50px;top:50%}
.carousel-control.left,.carousel-control.right{margin-left:15px;background-image:none;}
@media (max-width:767px){.carousel-inner .active.left{left:-100%;}
.carousel-inner .next{left:100%;}
.carousel-inner .prev{left:-100%;}
.active > div{display:block;}
.active > div:first-child{display:block;}
.active > div:first-child + div{display:block;}
.active > div:first-child + div + div{display:block;}
}
@media (min-width:767px) and (max-width:992px){.carousel-inner .active.left{left:-50%;}
.carousel-inner .next{left:50%;}
.carousel-inner .prev{left:-50%;}
.active > div{display:none;}
.active > div:first-child{display:block;}
.active > div:first-child + div{display:block;}
.active > div:first-child + div + div{display:block;}
}
@media (min-width:992px){.carousel-inner .active.left{left:-25%;}
.carousel-inner .next{left:25%;}
.carousel-inner .prev{left:-25%;}
}
.hvr-bounce-to-bottom:hover .frame-diemden{z-index:999 !important;background:none !important;font-weight:bold;}
.hvr-bounce-to-bottom:hover .frame-diemden .diemden-like{color:#000 !important;}
.hvr-bounce-to-bottom:hover .frame-diemden .diemden-ten{border-color:#000 !important;}
.hvr-bounce-to-bottom:hover .frame-diemden .diemden-ten, .hvr-bounce-to-bottom:hover .frame-diemden .diemden-like .num-like{color:#E82C0C !important;font-size:16px;}
.hvr-sweep-to-right:hover .frame-quocgia{z-index:999 !important;}
#social{position:fixed;right:0;top:250px!important;z-index:9999;}
.social-top{width:40px;}
.social-top .icon{background:#fff;height:40px;width:40px;text-align:center;margin:0 auto;padding-top:12px;background-position:left top;-webkit-transition:width .2s;position:absolute;right:0;font-size:16px !important;border-top-left-radius:5px;border-bottom-left-radius:5px;border-left:1px dashed #a5a5a5;}
.social-top .icon:last-child{border-bottom:1px dashed #a5a5a5;}
.social-top .facebook{top:0px !important;color:#3b5897;border-top:1px dashed #a5a5a5;}
.social-top .facebook:hover{top:0!important;color:#fff;background:#3b5897;border-left:1px solid #3b5897;border-top:1px dashed #3b5897;border-bottom:1px dashed #3b5897;}
.social-top .google{top:80px !important;color:#f0433a;}
.social-top .google:hover{top:80px !important;color:#fff;background:#f0433a;border-left:1px solid #f0433a;border-top:1px dashed #f0433a;border-bottom:1px dashed #f0433a;}
.social-top .twister{top:120px !important;color:#1da1f2;}
.social-top .twister:hover{top:120px !important;color:#fff;background:#1da1f2;border-left:1px solid #1da1f2;border-top:1px dashed #1da1f2;border-bottom:1px dashed #1da1f2;}
.social-top .youtube{top:160px !important;color:#cb2027;}
.social-top .youtube:hover{top:160px !important;color:#fff;background:#cb2027;border-left:1px solid #cb2027;border-top:1px dashed #cb2027;border-bottom:1px dashed #cb2027;}
.social-top .guide{top:200px !important;color:#fc7700;}
.social-top .guide:hover{top:200px !important;color:#fff;background:#fc7700;border-left:1px solid #fc7700;border-top:1px dashed #fc7700;border-bottom:1px dashed #fc7700;}
.social-top .messenger{top:40px !important;color:#0084ff !important;}
.social-top .messenger:hover{top:40px !important;color:#fff;background:#0084ff;border-left:1px solid #0084ff;border-top:1px dashed #0084ff;border-bottom:1px dashed #0084ff;}
.social-top a .messenger:hover{color:#fff !important;}
.social-bot{position:absolute;top:245px;right:16px;background-repeat:no-repeat;width:20px;height:20px;margin:0;padding:0;overflow:hidden;text-indent:-9999em;text-align:left;cursor:pointer;opacity:0.7;}
#social .show1{background:url(../img/arrow-full.png) -14px 3px;}
#social .show2{background:url(../img/arrow-full.png) 0 3px;}
.i-call{position:fixed;bottom:0px;left:0px;background:#F44336;text-align:center;height:45px;width:100%;margin:0 auto;overflow-y:scroll;line-height:45px;z-index:10;}
.i-call a{color:#fff;}
.i-call a i{padding-top:7px;}
.i-call a span{font-size:15px;}
.area-info .dropdown-menu>li>a{padding:8px 20px!important;text-transform:initial;font-size:14px;width:230px!important;}
.pp-fs .popup-close{width:20px;height:20px;padding-top:3px;display:inline-block;position:absolute;top:20px;right:2px;transition:ease 0.25s all;-webkit-transform:translate(50%, -50%);transform:translate(50%, -50%);border-radius:1000px;background:rgba(0,0,0,0.8);font-family:Arial, Sans-Serif;font-size:13px;text-align:center;line-height:100%;color:#fff;}
.banner-worldcup{background:url(../img/bg-wc.jpg) no-repeat center top;margin-top:30px;height:515px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.padding-worldcup{padding-top:70px;padding-bottom:70px;}
.btn-default{background:#ed3241 !important;color:#fff!important;border-color:#ed3241 !important;}.home-cattentuchon-n {height: 35px;width: 100%;}
.site-name{float: left;display:block;margin-left:10px;font-size:16px;font-weight:600;}
